/*  MARCOS BLAZQUEZ CANO 2DAW */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.navegador{
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}
.navegador ul {
    list-style:inside;
    margin: 0;
    padding: 0;
}
.navegador ul li {
    display:inline-block;
    margin-right: 25px;
}
.navegador ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.navegador ul li a:hover {
    color: #ff4081;
}
.contenedor {
    width: 50%;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    color: #999;
}
.img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
   
    
}
.pie{
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 14px;
}